<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="bookmark"
            name="Bookmark">
      </category>
      <view
            category="bookmark"
            class="shortcuts.views.ShortcutsView"
            icon="icons/sc.png"
            id="shortcuts.views.shortcutsview"
            name="Shortcuts"
            restorable="true">
      </view>
   </extension>

</plugin>
